<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.parkh.doing.mapper.AuthMapper">
    <!--  AuthVo : userId / DB tb_auth : USER_ID   -->
    <resultMap type="xyz.parkh.doing.domain.entity.AuthVo" id="authSelectRM">
        <result property="userId" column="USER_ID"/>
        <result property="password" column="PASSWORD"/>
    </resultMap>

    <select id="selectByUserId" resultType="xyz.parkh.doing.domain.entity.AuthVo" resultMap="authSelectRM">
        select USER_ID, PASSWORD
        from tb_auth
        where USER_ID = #{userId}
    </select>

    <insert id="insert" parameterType="xyz.parkh.doing.domain.entity.AuthVo">
        insert into tb_auth (USER_ID, PASSWORD)
        values (#{userId}, #{password})
    </insert>

    <delete id="delete">
        delete
        from tb_auth
        where USER_ID = #{userId}
    </delete>

    <update id="update" parameterType="xyz.parkh.doing.domain.entity.AuthVo">
        update tb_auth
        set PASSWORD = #{password}
        where USER_ID = #{userId}
    </update>
</mapper>